---
layout: default
prism: true
---

<div class="md:flex md:flex-row-reverse">
  <div class="main-carousel mb-12 h-40v sm:h-70v md:w-3/5 md:m-6" style="" data-flickity='{ "imagesLoaded": true, 
                                               "pageDots": true, 
                                               "wrapAround": true,
                                               "fullscreen": true ,
                                              "setGallerySize": false}'>
    {% for imageObj in images %}

      <img class="object-cover  w-full h-full" src="{{imageObj.image}}"/>
    {% endfor %}
  </div>

  <div class="container max-w-5xl px-6 md:w-2/5 md: md:pt-12">
    <h1 class="font-bold text-3xl text-left font-bold md:text-3xl mb-4">{{title}}</h1>
    <div class="flex flex-col md:flex-row w-full">
  
    <div class="mb-5">
      <template x-if="chinese">
        <div>ni hao</div>
      </template>
 
      <article class="prose mb-5">{{ content | safe }}</article>


      <p class="font-bold">Services</p>
      <p>Architecture, Interior Design, Planning, Landscaping</p>
      <div class="mt-2 text-gray-500">
        <p>{{location}}</p>
        <p>{{year}}</p>
      </div>
    </div>
    </div>

  </div>
</div>
