---
layout: default
prism: true
---

<div class="container max-w-4xl mt-6 px-6">
  <div class="pb-5 mb-5 border-b border-gray-100">
    <h1 class="font-bold text-5xl">{{title}}</h1>
    <h3 class="text-gray-500 text-center">{{description}}</h3>
  </div>
  <div class="flex flex-col sm:flex-row">
    <img class="object-cover sm:w-1/2" src="{{image}}" />
    <div class="pt-5 sm:pt-0 sm:pl-5 sm:w-1/2">
        <article >
        {{ content | safe }}
        </article>

         <div class="mt-2 text-gray-500">
            <p>{{address}}</p>
            <p>{{year}}</p>
        </div>
    </div>
  </div>
</div>
