<div class="w-full bg-gray-500">
  <nav
    class="
      flex 
      flex-row
      items-center
      justify-between
      flex-wrap
      py-3
      container
      mx-auto
      px-6
    "
  >
    <!--Logo etc-->
    <div class="flex items-center">
      <a href="/">
        <!-- Logo -->
        <svg
          width="210"
          height="24"
          viewBox="0 0 210 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line y1="0.5" x2="210" y2="0.5" stroke="white" />
          <line y1="23.5" x2="210" y2="23.5" stroke="white" />
          <path
            d="M2.27841 18H9.30682V16.4886H4.03409V6.36364H2.27841V18Z"
            fill="white"
          />
          <path d="M53.0341 6.36364H51.2784V18H53.0341V6.36364Z" fill="white" />
          <path
            d="M105.67 6.36364H103.932V14.9091H103.824L97.9034 6.36364H96.2784V18H98.0341V9.46591H98.142L104.057 18H105.67V6.36364Z"
            fill="white"
          />
          <path
            d="M148.278 18H155.642V16.4886H150.034V12.9261H155.193V11.4205H150.034V7.875H155.574V6.36364H148.278V18Z"
            fill="white"
          />
          <path
            d="M199.261 18L200.33 14.9205H204.875L205.938 18H207.801L203.614 6.36364H201.585L197.398 18H199.261ZM200.841 13.4432L202.557 8.47727H202.648L204.364 13.4432H200.841Z"
            fill="white"
          />
        </svg>
      </a>
    </div>

    <!--Menu-->
    <div class="flex-grow flex items-center w-auto text-center">
      {% if navigation.items %}

      <ul
        class="
          pt-0
          list-reset
          flex
          justify-end
          flex-1
          items-center
          sm:flex
          hidden
        "
      >
        {% for item in navigation.items %}
        <li class="nav__item mr-3">
          <a
            class="
              text-sm
              inline-block
              text-white
              no-underline
              py-2
              px-3
              hover:text-yellow-500
              active:text-yellow-500
            "
            href="{{ item.url }}"
            >{{ item.text }}</a
          >
        </li>
        {% endfor %}
      </ul>

      {% endif %}

     
    </div>
     <!-- This example requires Tailwind CSS v2.0+ -->
      <div
        class="relative inline-block sm:hidden"
        x-data="{ open: false }"
      >
        <div>
          <div type="button" @click="open = ! open">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="white"
              x-show="! open"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white" x-show="open">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </div>
        </div>

        <!--
                Dropdown menu, show/hide based on menu state.

                Entering: "transition ease-out duration-100"
                From: "transform opacity-0 scale-95"
                To: "transform opacity-100 scale-100"
                Leaving: "transition ease-in duration-75"
                From: "transform opacity-100 scale-100"
                To: "transform opacity-0 scale-95"
            -->
        <div
          x-show="open"
          class="
            origin-top-right
            absolute
            right-0
            mt-2
            w-56
            rounded-md
            shadow-lg
            bg-white
            ring-1 ring-black ring-opacity-5
            focus:outline-none
            z-50
          "
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="menu-button"
          tabindex="-1"
        >
          <ul class="py-1" role="none">
            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
            <li>
              <a
                href="#"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                id="menu-item-0"
                >Account settings</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                id="menu-item-1"
                >Support</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                id="menu-item-2"
                >License</a
              >
            </li>
          </ul>
        </div>
      </div>
  </nav>
</div>
